.aboutus {
	position: relative;
	padding-bottom: 15rem;
}

.aboutus-body {
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h2 {
		margin: 2rem 1rem 0 1rem;
		line-height: 60px;
		text-align: center;
	}

	h3 {
		margin: 10rem 1.4rem 0 1.4rem;
		line-height: 50px;
		text-align: center;
	}

	@media only screen and (max-width: 768px) {
		h2 {
			font-size: 52px;
		}

		h3 {
			margin: 6rem 1.4rem 0 1.4rem;
			font-size: 35px;
		}
	}

	.main-bubble {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		margin: 0 1.4rem;
		margin-top: 2rem;

		img {
			width: 200px;
			height: auto;
		}
		.bubble {
			background: $acm-gray;
			margin: 0 2rem;
			width: 80%;
			max-width: 900px;
			padding: 1.5rem;
			border-radius: 20px;
			box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.15);
			p {
				font-size: 24px;
				font-weight: 400;
				line-height: 35px;
			}
		}

		@media only screen and (max-width: 768px) {
			img {
				width: 120px;
			}
			.bubble {
				margin: 0 1.2rem;
				padding: 1rem;

				p {
					font-size: 18px;
					line-height: 25px;
				}
			}
		}

		@media only screen and (max-width: 500px) {
			flex-direction: column;
			align-items: flex-start;
			img {
				width: 85px;
				order: 1;
			}
			.bubble {
				order: 2;
				width: 100%;
				margin: 1rem 0 1rem 0;

				p {
					font-size: 18px;
					line-height: 25px;
				}
			}
		}
	}

	.board-member-left {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-top: 5rem;
		img {
			border: black solid 2px;
			vertical-align: middle;
			width: 130px;
			height: 130px;
			object-fit: cover;
			// image-rendering: crisp-edges;
			image-rendering: auto;
			border-radius: 50%;
			margin-right: 2rem;
			margin-bottom: -3.5rem;
		}

		.chat-bubble {
			&-names {
				font-family: Oswald;
				font-size: 24px;
				font-weight: 400;
				margin-left: 2rem;
			}
			&-text {
				position: relative;
				line-height: 35px;
				font-size: 24px;
				width: fit-content;
				max-width: 800px;
				background: $acm-gray;
				border-radius: 41px;
				padding: 1.4rem 2rem;
				text-align: left;
				box-shadow: 10px 5px 10px rgba(77, 77, 77, 0.295);
			}

			&-bottom-left:before {
				content: "";
				width: 0px;
				height: 0px;
				position: absolute;
				border-left: 15px solid transparent;
				border-right: 20px solid $acm-gray;
				border-top: 20px solid transparent;
				border-bottom: 20px solid $acm-gray;
				left: -10px;
				bottom: 6px;
			}
		}
	}

	.board-member-right {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-top: 5rem;
		margin-bottom: 2rem;
		img {
			border: black solid 2px;
			vertical-align: auto;
			width: 130px;
			height: 130px;
			object-fit: cover;
			border-radius: 50%;
			margin-left: 2rem;
			margin-bottom: -3.5rem;
		}

		.chat-bubble {
			&-name {
				font-family: Oswald;
				font-size: 24px;
				font-weight: 400;
				margin-right: 2rem;
				text-align: right;
			}
			&-text {
				position: relative;
				line-height: 35px;
				font-size: 24px;
				width: fit-content;
				max-width: 800px;
				background: $acm-yellow;
				border-radius: 41px;
				padding: 1.4rem 2rem;
				text-align: left;
				box-shadow: -5px 10px 10px rgba(77, 77, 77, 0.295);
			}

			&-bottom-right:before {
				content: "";
				width: 0px;
				height: 0px;
				position: absolute;
				border-left: 15px solid $acm-yellow;
				border-right: 20px solid transparent;
				border-top: 20px solid transparent;
				border-bottom: 20px solid $acm-yellow;
				right: -10px;
				bottom: 6px;
			}
		}
	}
}
