.aboutus {
	position: relative;
	padding-bottom: 15rem;
	.svg-1 {
		@include svg-placer(5%, unset, 5%, unset);
	}
	.svg-2 {
		@include svg-placer(1%, unset, 15%, unset);
	}
	.svg-3 {
		@include svg-placer(15%, unset, -2%, unset);
	}
	.svg-4 {
		@include svg-placer(20%, unset, unset, 10%);
	}
	.svg-5 {
		@include svg-placer(38%, unset, 5%, unset);
	}
	.svg-6 {
		@include svg-placer(55%, unset, 16%, unset);
	}
	.svg-7 {
		@include svg-placer(unset, 25%, 5%, unset);
	}
	.svg-8 {
		@include svg-placer(unset, 35%, unset, 15%);
	}
	.svg-9 {
		@include svg-placer(unset, 10%, 16%, unset);
	}
	.svg-10 {
		@include svg-placer(unset, 1%, unset, 12%);
	}
}

.aboutus-body {
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h2 {
		margin-top: 1rem;
	}

	h3 {
		margin-top: 1rem;
		margin-top: 10rem;
	}

	.main-bubble {
		display: flex;
		flex-direction: row;
		margin-top: 2rem;
		align-items: flex-end;

		.bubble {
			background: $acm-gray;
			margin: 0 2rem;
			width: 80%;
			max-width: 900px;
			padding: 1.5rem;
			border-radius: 20px;
			box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.15);

			p {
				font-size: 24px;
				font-weight: 400;
				line-height: 35px;
			}
		}
	}

	.board-member-left {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-top: 5rem;
		img {
			border: black solid 2px;
			vertical-align: middle;
			width: 130px;
			height: 130px;
			object-fit: cover;
			// image-rendering: crisp-edges;
			image-rendering: auto;
			border-radius: 50%;
			margin-right: 2rem;
			margin-bottom: -3.5rem;
		}

		.chat-bubble {
			&-names {
				font-family: Oswald;
				font-size: 24px;
				font-weight: 400;
				margin-left: 2rem;
			}
			&-text {
				position: relative;
				line-height: 35px;
				font-size: 24px;
				width: fit-content;
				max-width: 800px;
				background: $acm-gray;
				border-radius: 41px;
				padding: 1.4rem 2rem;
				text-align: left;
				box-shadow: 10px 5px 10px rgba(77, 77, 77, 0.295);
			}

			&-bottom-left:before {
				content: "";
				width: 0px;
				height: 0px;
				position: absolute;
				border-left: 15px solid transparent;
				border-right: 20px solid $acm-gray;
				border-top: 20px solid transparent;
				border-bottom: 20px solid $acm-gray;
				left: -10px;
				bottom: 6px;
			}
		}
	}

	.board-member-right {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-top: 5rem;
		margin-bottom: 2rem;
		img {
			border: black solid 2px;
			vertical-align: auto;
			width: 130px;
			height: 130px;
			object-fit: cover;
			border-radius: 50%;
			margin-left: 2rem;
			margin-bottom: -3.5rem;
		}

		.chat-bubble {
			&-name {
				font-family: Oswald;
				font-size: 24px;
				font-weight: 400;
				margin-right: 2rem;
				text-align: right;
			}
			&-text {
				position: relative;
				line-height: 35px;
				font-size: 24px;
				width: fit-content;
				max-width: 800px;
				background: $acm-yellow;
				border-radius: 41px;
				padding: 1.4rem 2rem;
				text-align: left;
				box-shadow: -5px 10px 10px rgba(77, 77, 77, 0.295);
			}

			&-bottom-right:before {
				content: "";
				width: 0px;
				height: 0px;
				position: absolute;
				border-left: 15px solid $acm-yellow;
				border-right: 20px solid transparent;
				border-top: 20px solid transparent;
				border-bottom: 20px solid $acm-yellow;
				right: -10px;
				bottom: 6px;
			}
		}
	}
}
