// Calendar
.rbc-toolbar .rbc-toolbar-label {
	font-size: 29px;
	font-family: $acm-font;
	font-weight: 600;
}
.rbc-row-segment .rbc-event-content {
	text-overflow: unset;
	white-space: unset;
	overflow: unset;
	overflow-wrap: anywhere;
	-webkit-user-select: text;
	-moz-user-select: text;
	cursor: text;
	strong,
	span {
		font-family: $acm-secondary-font;
	}
}
.rbc-event.rbc-selected {
	background: $acm-blue !important;
	outline: none;
	cursor: text;
}

.rbc-event {
	border-radius: 10px;
	padding: 0.3rem;
	background: $acm-blue;

	.rbc-event-label {
		display: none;
	}
	.rbc-event-content {
		cursor: text;

		.calendar-month {
			padding: 0.2rem;
			overflow-wrap: anywhere;
			-webkit-user-select: text;
			-moz-user-select: text;
		}
	}
}

.rbc-month-row {
	overflow: unset;
}

.rbc-day-slot .rbc-events-container {
	div {
		height: unset !important;
	}
}

.calendar-agenda {
	h4 {
		color: $acm-blue;
	}
}

.rbc-calendar {
	min-width: 1000px;
}

.calendar-month {
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		margin-top: 0.34rem;
		text-align: center;
	}
	h4 {
		text-align: center;
		font-family: $acm-secondary-font;
		font-size: 18px;
	}
}
