// Calendar
.calendar {
	overflow-x: auto;
	border: 1px solid rgb(218, 218, 218);
	padding: 0.2rem;
}
.rbc-calendar {
	min-width: 1000px;
}
// Title MONTH YEAR
.rbc-toolbar .rbc-toolbar-label {
	font-size: 30px;
	font-family: $acm-font;
	font-weight: 600;
}

.rbc-row-segment .rbc-event-content {
	text-overflow: unset;
	white-space: unset;
	overflow: unset;
	overflow-wrap: anywhere;
	cursor: default;
	strong,
	span {
		font-family: $acm-secondary-font;
	}
}
// Individual event
.rbc-event {
	border-radius: 10px;
	padding: 0.3rem;
	background: $acm-blue;

	.rbc-event-label {
		display: none;
	}
	.rbc-event-content {
		cursor: default;
		.calendar-month {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0.2rem;
			overflow-wrap: anywhere;
			p {
				margin-top: 0.34rem;
				text-align: center;
			}
			h4 {
				text-align: center;
				font-family: $acm-secondary-font;
				font-size: 18px;
			}
		}
	}

	@media only screen and (max-width: 768px) {
		border-radius: 8px;
		padding: 0.2rem;
		.rbc-event-content {
			.calendar-month {
				padding: 0.1rem;
				p {
					margin-top: 0.3rem;
					font-size: 14px;
				}
				h4 {
					font-size: 16px;
				}
			}
		}
	}
}
.rbc-event.rbc-selected {
	background: $acm-blue !important;
	outline: none;
	cursor: text;
}

.rbc-month-row {
	overflow: unset;
}

.rbc-day-slot .rbc-events-container {
	div {
		height: unset !important;
	}
}

.calendar-agenda {
	h4 {
		color: $acm-blue;
	}
}
