.contact {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 120%;
	margin: 0 auto;
	padding-bottom: 10rem;
}

.leftSide {
	position: relative;
	z-index: 5;
	margin-right: 5rem;

	h2 {
		margin-top: 5rem;
	}
	.icon-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $acm-gray;
		width: fit-content;
		margin-top: 5rem;
		padding: 2rem 3rem;
		border-radius: 20px;
		box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.15);

		.email {
			width: 80px;
			height: auto;
			color: $acm-yellow;
		}
		.facebook {
			width: 60px;
			height: auto;
			margin: 0 8rem;
			color: $acm-blue;
		}
		.slack {
			width: 77px;
			height: auto;
			color: $acm-pink;
		}
		svg {
			cursor: pointer;
			transition: all 0.34;
		}

		.email:hover,
		.facebook:hover,
		.slack:hover {
			color: $acm-black;
		}
	}
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 92%;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.rightSide {
	position: relative;
	z-index: 5;
	margin-top: 8rem;
}

@media only screen and (max-width: 876px) {
	.leftSide {
		margin-right: 4rem;

		h2 {
			margin-top: 5rem;
		}
		.icon-holder {
			margin-top: 5rem;
			padding: 1rem 2rem;
			border-radius: 15px;

			.email {
				width: 70px;
			}
			.facebook {
				width: 50px;
				margin: 0 5rem;
			}
			.slack {
				width: 67px;
			}
		}
	}

	.rightSide {
		margin-top: 8rem;
	}
}

@media only screen and (max-width: 654px) {
	.contact {
		flex-direction: column;
		width: 90%;
		height: 120%;
		padding-bottom: 6rem;
	}

	.leftSide {
		margin-right: 0rem;

		h2 {
			margin-top: 4rem;
			text-align: center;
		}
		.icon-holder {
			margin-top: 4rem;
			padding: 1rem 1.3rem;
			border-radius: 15px;

			.email {
				width: 70px;
			}
			.facebook {
				width: 50px;
				margin: 0 4rem;
			}
			.slack {
				width: 67px;
			}
		}
	}

	.rightSide {
		margin: 2.5rem 0;
	}
}

@media only screen and (max-width: 450px) {
	.contact {
		width: 90%;
	}

	.leftSide {
		h2 {
			margin-top: 3rem;
			font-size: 50px;
		}
		.icon-holder {
			margin-top: 3rem;
			padding: 1rem;

			.email {
				width: 60px;
			}
			.facebook {
				width: 40px;
				margin: 0 3rem;
			}
			.slack {
				width: 57px;
			}
		}
	}

	.rightSide {
		margin-top: 4rem;
	}
}
