.footer {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 2rem;
	position: absolute;
	width: 100%;
	bottom: 0;

	@media only screen and (max-width: 500px) {
		margin-bottom: 5rem;
	}
}
