.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	width: 100%;

	img {
		width: 75px;
		height: auto;
		margin-bottom: 0.5rem;
	}

	p {
		font-size: 17px;
	}

	&-socials {
		display: flex;
		align-items: flex-start;
		margin-top: 0.8rem;
		svg {
			width: 28px;
			height: auto;
		}
		.linkedin {
			margin: 0 0.8rem;
		}
	}
}
