// Home
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// Landing component
.landing {
	background: url("../images/background-banner.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 80vh;
	height: fit-content;
	display: flex;
	justify-content: center;
	width: 100%;

	&-texts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		width: 50%;
		margin: 0 auto;
		padding: 2rem 0;

		&-logo {
			width: 100px;
			height: auto;
		}

		&-title {
			font-weight: 600;
			font-size: 96px;
			span {
				color: $acm-blue;
				font-family: $acm-font;
			}
		}

		&-subtitle {
			font-size: 20px;
			font-style: italic;
			font-weight: 400;
			line-height: 24px;
			text-align: center;
			margin: 1rem 0 2rem 0;
		}

		&-description {
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			text-align: center;
		}
	}
}

button.join {
	font-size: 33px;
	font-weight: 400;
	text-align: center;
	height: 77.53401184082031px;
	width: 235px;
	background: $acm-gray;
	border: 5px $acm-gray solid;
	box-shadow: 2px 4px 20px 0px rgba(80, 80, 80, 0.637);
	margin-top: -2.5rem;
	text-decoration: underline;
	color: $acm-pink;
	transition: all 0.5s;
}

button.join:hover {
	background: $acm-pink;
	color: $acm-gray;
	border: 5px white solid;
}

.window-cards-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	.svg-1 {
		@include svg-placer(5%, unset, 5%, unset);
	}
	.svg-2 {
		@include svg-placer(1%, unset, 15%, unset);
	}
	.svg-3 {
		@include svg-placer(15%, unset, -2%, unset);
	}
	.svg-4 {
		@include svg-placer(20%, unset, unset, 10%);
	}
	.svg-5 {
		@include svg-placer(38%, unset, 5%, unset);
	}
	.svg-6 {
		@include svg-placer(55%, unset, 16%, unset);
	}
	.svg-7 {
		@include svg-placer(unset, 25%, 5%, unset);
	}
	.svg-8 {
		@include svg-placer(unset, 35%, unset, 15%);
	}
	.svg-9 {
		@include svg-placer(unset, 10%, 16%, unset);
	}
	.svg-10 {
		@include svg-placer(unset, 1%, unset, 12%);
	}
}

.window-card {
	width: 60vw;
	min-height: 500px;
	max-height: 80vh;
	background: $acm-gray;
	border-radius: 20px;
	box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	margin: 3rem 0;
	z-index: 2;

	&-top-menu {
		height: 65px;
		background: $acm-black;
		display: flex;
		align-items: center;

		padding-left: 1.2rem;

		.red-circle {
			@include window-card-circles($acm-pink);
		}
		.yellow-circle {
			@include window-card-circles($acm-yellow);
		}
		.green-circle {
			@include window-card-circles($acm-green);
		}
		.red-circle:hover,
		.yellow-circle:hover,
		.green-circle:hover {
			opacity: 0.8;
		}
	}

	&-texts {
		padding: 1.5rem;

		&-title {
			font-weight: 600;
			font-size: 48px;
			font-family: $acm-font;
			margin-bottom: 0.5rem;
			position: relative;
			width: fit-content;

			img {
				position: absolute;
				right: -20px;
				bottom: -18px;
			}

			span {
				color: $acm-blue;
				font-family: $acm-font;
			}
		}

		&-body {
			font-size: 24px;
			font-weight: 400;
			line-height: 35px;
		}
	}

	&-button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 3rem;

		button {
			background: $acm-black;
			font-size: 33px;
			font-weight: 400;
			color: $acm-white;
			padding: 0.5rem 3rem;
			border: 3px $acm-black solid;
			transition: all 0.5s;
			box-shadow: 0px 5px 20px 8px rgba(7, 6, 0, 0.25);
		}
		button:hover {
			color: $acm-black;
			background: $acm-gray;
		}
	}
}
