nav {
	background: #ececf6;
	padding: 1.2rem 2rem;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		list-style-type: none;

		li {
			margin-left: 3rem;
			svg {
				width: 33px;
				height: auto;
				color: $acm-black;
				transition: all 0.3s;
			}
			svg:hover {
				color: $acm-pink;
			}

			a.selected {
				svg {
					color: $acm-pink;
				}
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	nav {
		padding: 1rem 1.5rem;

		ul {
			justify-content: space-between;
			li {
				margin-left: 0rem;
				svg {
					width: 25px;
				}
			}
		}
	}
}
