.svg-1 {
	@include svg-placer(5%, unset, 5%, unset);
}
.svg-2 {
	@include svg-placer(1%, unset, 15%, unset);
}
.svg-3 {
	@include svg-placer(15%, unset, -2%, unset);
}
.svg-4 {
	@include svg-placer(20%, unset, unset, 10%);
}
.svg-5 {
	@include svg-placer(38%, unset, 5%, unset);
}
.svg-6 {
	@include svg-placer(55%, unset, 16%, unset);
}
.svg-7 {
	@include svg-placer(unset, 25%, 5%, unset);
}
.svg-8 {
	@include svg-placer(unset, 35%, unset, 15%);
}
.svg-9 {
	@include svg-placer(unset, 10%, 16%, unset);
}
.svg-10 {
	@include svg-placer(unset, 1%, unset, 12%);
}

.resources {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 10rem;

	h2 {
		margin-top: 3rem;
	}

	h3 {
		margin-top: 10rem;
		margin-bottom: 3rem;
		text-align: center;
	}

	p {
		font-size: 36px;
		font-weight: 400;
		line-height: 50px;
		margin-bottom: 2rem;
	}
	p.bold {
		margin-bottom: 0.5rem;
		margin-top: 1.8rem;
		font-weight: bold;
	}
	.answer {
		margin-left: 1rem;
		p {
			font-size: 30px;
		}
	}

	a {
		font-size: 30px;
		font-weight: 400;
		line-height: 35px;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		margin-top: -1rem;
		margin: -1rem 0 2rem 1.5rem;

		li {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: fit-content;
			margin-bottom: 1.3rem;

			img {
				margin-right: 1rem;
			}
			p {
				margin: 0;
			}
		}
	}

	.survive,
	.dream-job {
		width: 80%;
		position: relative;
		z-index: 5;
	}
}
