// Imports
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import "react-big-calendar/lib/sass/styles";

// ========= COLORS =========
// Main Color Palette
$acm-pink: #ea526f;
$acm-black: #070600;
$acm-white: #f7f7ff;
$acm-blue: #0093d0;
$acm-yellow: #ffbb43;

// Extra/Accent Colors
$acm-gray: #ececf6;
$acm-green: #8af688;

// ========= FONTS =========
$acm-font: "Oswald", sans-serif;
$acm-secondary-font: "Lato", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $acm-font;
}
h2 {
	font-size: 64px;
	line-height: 45px;
	font-weight: 600;
}
h3 {
	font-size: 48px;
	line-height: 35px;
	font-weight: 600;
}

p,
a,
button,
small {
	font-family: $acm-secondary-font;
}

a {
	color: $acm-blue;
	transition: all 0.25s;
}
a:active {
	color: $acm-black;
}
a:hover {
	color: $acm-pink;
}

// ======== RESETS =========
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// ====== COMPONENTS =========
button {
	width: fit-content;
	border-radius: 50px;
	outline: none;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.bold {
	font-weight: bold;
}
.font-blue {
	color: $acm-blue;
}
.italicize {
	font-style: italic;
}

// ====== MIXINS =========
@mixin window-card-circles($color) {
	background: $color;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	transform: translateY(10%);
	margin-right: 0.5rem;
}

@mixin svg-placer($top, $bottom, $left, $right) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	z-index: 1;
}

@import "aboutus";
@import "contact";
@import "events";
@import "home";
@import "resources";
@import "footer";
@import "nav";
@import "backgroundsvg";
@import "calendar";
